<nav>
  <h1>{{ site.name }}</h1>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="{{ site.url }}{{ site.baseurl }}/assets/img/{{ site.author-img }}" id="logo" alt="Blog logo"/>
    {% endif %}
  </a>
  <h2><a href="/">{{ site.title }}</a></h2>
  <div id="bio">
	{% include bio.html %}
  </div>
  <div>
	Site Tags:<br>
	{% for tag in alltags %}
		<a href="#{{ tag | slugify }}"> {{ tag }} </a>
	{% endfor %}
  </div>
  <hr>
  <div>
    Site Catagories:<br>
    {% for cat in allcategories %}
	  <a href="#{{ tag | slugify }}"> {{ cat }} </a>
    {% endfor %}
  </div>
  <hr>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
